# SpudScale Sample Configuration File

# List COM ports to which scales are attached. Separate values by spaces.
ports:
  - COM15
  - COM16
  - COM17
  - COM18
  - COM19
  - COM20
  - COM21
  - COM22
  - COM23
  - COM24
  - COM25

# List scale adresses and names; for example if the scale with address 0
# (Add 0, in the scale's settings) is assigned to A1 measurements, the entry
# would look like:
#  -  1:= A1
Scales :
  1 : A1
  2 : A2
  3 : A3
  4 : A4
  5 : B
  6 : C
  7 : Green
  8 : GC
  9 : Mis
  10 : Rots
